<html>
<!-- Citation for the following code: -->
<!-- Date: 2023/11/15 -->
<!-- Based on: -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app -->

<head>
	<title>Customers</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * two DIVS: browse and insert
		 * this function sets one visible the other not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
		}
	}

	function newCustomer() {
		showform('insert');
	}

	function browseCustomers() {
		showform('browse');
	}

	function onDelete(customerID) {
		if (window.confirm(`Are you sure you want to delete customer ${customerID}`)) {
			window.location.href = `delete_customer/${customerID}`
		}
	}

	</script>
</head>

<body onload="browseCustomers()">
	<!-- Navigation header -->
	<h1>Customers</h1> [ <a href="customers">Customers</a> | <a href="drivers">Drivers</a> | <a href="orders">Orders</a> | 
	<a href="orderdetails">Order Details</a> | <a href="pizzas">Pizzas</a> | <a href="toppings">Toppings</a> ]
	<!-- browse -->
	<div id="browse">
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from pizza_shop.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column names -->
                        <!-- {% for key in data[0].keys() %} -->
                            <!-- Create the header row -->
                        <!--    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th> -->
                        <!-- {% endfor %} -->
                        <th>ID</th><th>Name</th><th>Address</th><th>Phone Number</th><th>Email</th> 
                    </tr>

				<tbody>
					<!-- Iterate through every item in data -->
					{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
								<!-- Create a <td> element with the value of that key in it -->
								<td> {% if item[key] %} {{item[key]}} {% endif %} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_customer/{{item.customerID}}"><input class="btn" type="button" value="Edit"></a></td>
						    <td><input class="btn" type="button" value="Delete" onClick="onDelete({{item.customerID}})"> </td>
					    </tr> 
                    {% endfor %} 
                {% endif %} 
        </table>   
		<p><input class="btn" type="button" value="Add New Customer" onClick="newCustomer()"></p>
	</div>

	<!--insert-->
	<div id="insert">
		<!-- form to INSERT new data into Customers-->
		<form id="insertCustomer" action="/customers" method="post">
			<legend><strong>Add Customer</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="Jane" required>

				<label for="address">Address:</label>
				<input type="text" class="form-control" id="address" name="address" pattern="[A-Za-z0-9 ]{1,}" placeholder="123 Street Dr" required>

				<label for="phone">Phone Number:</label>
				<input type="text" class="form-control" id="phone" name="phone" title="Enter digits only" pattern="[0-9]{10}" placeholder="1234567890" required>

				<label for="email">Email:</label>
				<input type="text" class="form-control" id="email" name="email" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="email@dom.tld"> 
            </fieldset>

            <!-- Create 'Add Customer' and 'Cancel' buttons -->
			<input type="submit" value="Add Customer" name="Add_Customer" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseCustomers()"> 
        </form>
	</div>
</body>
</html>
