<html>
<!-- Citation for the following code: -->
<!-- Date: 2023/11/15 -->
<!-- Based on: -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app -->

<head>
	<title>Drivers</title>
	<link href="style.css" rel="stylesheet" type="text/css" />
	<script language="JavaScript">
	function showform(dowhat) {
		/*
		 * two DIVS: browse and insert
		 * this function sets one visible the other not
		 */
		if(dowhat == 'insert') {
			document.getElementById('browse').style.display = 'none';
			document.getElementById('insert').style.display = 'block';
		} else { //by default display browse
			document.getElementById('browse').style.display = 'block';
			document.getElementById('insert').style.display = 'none';
		}
	}

	function newDriver() {
		showform('insert');
	}

	function browseDrivers() {
		showform('browse');
	}
	</script>
</head>

<body onload="browseDrivers()">
	<!-- Navigation header -->
	<h1>Drivers</h1> [ <a href="customers">Customers</a> | <a href="drivers">Drivers</a> | <a href="orders">Orders</a> | <a href="pizzas">Pizzas</a> | <a href="toppings">Toppings</a> ]
	<!-- browse -->
	<div id="browse">
		<table border="1" cellpadding="5">
            <!-- Access data tuple passed from pizza_shop.py --> 
            {% if data %}
			    <thead>
				    <tr>
					    <!-- Iterate through each key in the first entry to get the column names -->
                        <!-- {% for key in data[0].keys() %} -->
                            <!-- Create the header row -->
                        <!--    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th> -->
                        <!-- {% endfor %} -->
                        <th>ID</th><th>Name</th><th>Phone Number</th><th>Car Model</th> 
                    </tr>

				<tbody>
					<!-- Iterate through every item in data -->
					{% for item in data %}
					    <tr>
						    <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
								<!-- Create a <td> element with the value of that key in it -->
								<td> {% if item[key] %} {{item[key]}} {% endif %} </td> 
                            {% endfor %}

                            <!-- Create our edit/delete buttons -->
						    <td><a href="edit_driver/{{item.driverID}}"><input class="btn" type="button" value="Edit"></a></td>
						    <td><a href="delete_driver/{{item.driverID}}"><input class="btn" type="button" value="Delete"></a></td>
					    </tr> 
                    {% endfor %} 
                {% endif %} 
        </table>   
		<p><a href="#" onClick="newDriver()"><input class="btn" type="button" value="Add New Driver"></a> </p>
	</div>

	<!--insert-->
	<div id="insert">
		<!-- form to INSERT new data into Drivers-->
		<form id="insertDriver" action="/drivers" method="post">
			<legend><strong>Add Driver</strong></legend>
			<fieldset>
                <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
				<label for="name">Name:</label>
				<input type="text" class="form-control" id="name" name="name" pattern="[A-Za-z]{1,}" placeholder="Jane" required>

				<label for="phone">Phone Number:</label>
				<input type="text" class="form-control" id="phone" name="phone" title="Enter digits only" pattern="[0-9]{10}" placeholder="1234567890" required>

				<label for="car">Car Model:</label>
				<input type="text" class="form-control" id="car" name="car" pattern="[A-Za-z ]{1,}" placeholder="Ford Ranger" required> 
            </fieldset>

            <!-- Create 'Add Driver' and 'Cancel' buttons -->
			<input type="submit" value="Add Driver" name="Add_Driver" class="btn btn-primary" style="margin:.5rem;">
			<input class="btn" type="button" value="Cancel" onClick="browseDrivers()"> 
        </form>
	</div>
</body>
</html>
