<html>
<!-- Citation for the following code: -->
<!-- Date: 2023/11/15 -->
<!-- Based on: -->
<!-- Source URL: https://github.com/osu-cs340-ecampus/flask-starter-app/tree/master/bsg_people_app -->

<head>
	<title>Edit Customer</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div>
        <caption><strong>Editing Customer: </strong></caption>
        <table border="1" cellpadding="5"> 
            <!-- Access data tuple passed from pizza_shop.py -->
            {% if data %}
                <thead>
                    <tr>
                        <!-- Iterate through each key in the first entry to get the column names -->
                        <!-- {% for key in data[0].keys() %} -->
                            <!-- Create the header row -->
                        <!--    <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th> -->
                        <!-- {% endfor %} -->
                        <th>ID</th><th>Name</th><th>Address</th><th>Phone Number</th><th>Email</th>
                    </tr>

                <tbody>
                    <!-- iterate through every item in data -->
                    {% for item in data %}
                        <tr>
                            <!-- Then iterate through every key in the current item dictionary -->
                            {% for key in item.keys() %}
                                <!-- Create a <td> element with the value of that key in it -->
                                <td>{% if item[key] %} {{item[key]}} {% endif %}</td> 
                            {% endfor %} 
                        </tr> 
                    {% endfor %} 
            {% endif %} 
        </table>

        <div id="edit">
            <!-- form to UPDATE data in Customers-->
            <form id="editCustomer" action="/edit_customer/{{data[0].customerID}}" method="post">
                <legend><strong>Edit Customer</strong></legend>
                <fieldset>
                    <!-- placeholder shows ghost text, required forces an input, pattern forces input adherence -->
                    <label for="name">Name:</label>
                    <input type="text" class="form-control" id="name" name="name" value="{{data[0].name}}" pattern="[A-Za-z]{1,}" placeholder="Jane" required>

                    <label for="address">Address:</label>
                    <input type="text" class="form-control" id="address" name="address" value="{{data[0].address}}" pattern="[A-Za-z0-9 .]{1,}" placeholder="123 Street Dr" required>

                    <label for="phone">Phone Number:</label>
                    <input type="tel" class="form-control" id="phone" name="phone" title="Enter digits only" value="{{data[0].phoneNumber}}" pattern="[0-9-]{10,12}" placeholder="123-456-7890" required>

                    <label for="email">Email:</label>
                    <input type="text" class="form-control" id="email" name="email" value="{% if data[0].emailAddress %}{{data[0].emailAddress}}{% endif %}" pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$" placeholder="email@dom.tld"> 
                </fieldset>	

                <input type="submit" value="Edit Customer" name="Edit_Customer" class="btn btn-primary" style="margin:.5rem;">
                <a href='/customers'><input class="btn" type="button" value="cancel"></a>
            </form>

</html>
